
  <h1><em><%= @restaurant.name %></em></h1>
  <p> <em>Category:</em> <%=@restaurant.category %></p>
  <p> <em>Phone Number:</em> <%=@restaurant.phone_number %></p>
  <p> <em>Address:</em> <%=@restaurant.address %></p>


  <h1>Reviews:</h1>

  <% @restaurant.reviews.each do |review| %>
  <p><%= review.content %> | <%= review.rating %></p>
  <% end %>

  <p>
    <%= link_to 'Add review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  </p>

  <p>
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class: "btn btn-warning" %>
  </p>


